<div class="container text-center">

  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><h1>Eat The Burger?</h1>
           <form method="POST" action="/newBurger/create" class="create-form">
            <div class="form-group">
              <label for="auth">New Burger:</label>
              <input type="text" id="burger_name" name="burger_name">
              <p>What burger do you want</p>
              <button type="submit" id = addBurger>Choose A Burger</button>
            </div>
           </form> 
      </div>
      <div class="col-md-4"></div>
  </div> 
  <div class="row">
      <div class="col-md-4 ">
        <h1>Eat the burger!</h1>
           {{#each burgers}}
          <li>
            <p>
              {{this.id}}. {{this.burger_name}}
              <form id="devourBurger" action="/update" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" id="eatBurger">Devoured</button>
              </form>
            </p>
          </li>
        {{/each}}
      </div>
    <div class="col-md-4">  
    </div>
    <div class="col-md-4">
      <h1>Devoured!</h1>
          {{#each burgers}}
            {{#if this.devoured}}
              <div class="well devoured">
                {{this.id}}. {{this.burger_name}}
              </div>
            {{/if}}
          {{/each}}
    </div>
</div>